.App {
  //text-align: center;
  .App-header {
    //background-color: #282c34;
    //background-color: #191970;
    //background-color: darkslateblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    //font-size: calc(10px + 2vmin);
    //color: white;
    .App-logo {
      height: 40vmin;
      pointer-events: none;
    }
  }
}

.title {
  margin-left: 2rem;
  & > h1 {
    font-style: normal;
  }
  & > h3 {
    color: gray;
    font-style: italic;
  }
}

.menu {
  padding: 0.8em 0.8em 0.8em 2rem;
  border-bottom-style: groove;
  border-bottom-width: 2px;
  border-bottom-color: blue;
  a {
    text-decoration: none;
  }
}

