.demo-block {
  .demo-seperator {
    //padding-left: 1rem;
    //border-top: dotted 1px;
    margin-top: 0;
    //border-bottom: dotted 1px;
    padding-bottom: 0;
    border-color: blueviolet;
    color: blue;
  }

  & > .demo-line {
    border-color: white;
  }

  + div {
    background-color: lightgray;
    > * {
      display: inline-block;
      margin: 10px;
    }
  }
}

blockquote {
  &.demo-block {
    padding: 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    border-radius: 1rem;
  }
}
